parameters:
	ignoreErrors:
		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: bin/kb-lint.php

		-
			message: '#^Call to an undefined method Composer\\DependencyResolver\\Operation\\OperationInterface\:\:getPackage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Composer/Plugin.php

		-
			message: '#^Call to an undefined method Composer\\DependencyResolver\\Operation\\OperationInterface\:\:getTargetPackage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Composer/Plugin.php

		-
			message: '#^Match expression does not handle remaining values\: 0\|int\<4, max\>$#'
			identifier: match.unhandled
			count: 1
			path: src/Encoding/DataEncoder.php

		-
			message: '#^Comparison operation "\>\=" between 0 and \*NEVER\* results in an error\.$#'
			identifier: greaterOrEqual.invalid
			count: 4
			path: src/Encoding/MaskSelector.php

		-
			message: '#^Comparison operation "\>\=" between 0 and int\<1, max\> is always false\.$#'
			identifier: greaterOrEqual.alwaysFalse
			count: 2
			path: src/Encoding/MaskSelector.php

		-
			message: '#^Comparison operation "\>\=" between 0 and int\<4, max\> is always false\.$#'
			identifier: greaterOrEqual.alwaysFalse
			count: 2
			path: src/Encoding/MaskSelector.php

		-
			message: '#^Comparison operation "\>\=" between int\<0, max\> and \*NEVER\* results in an error\.$#'
			identifier: greaterOrEqual.invalid
			count: 4
			path: src/Encoding/MaskSelector.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 8
			path: src/Encoding/MaskSelector.php

		-
			message: '#^Strict comparison using \=\=\= between 0 and \*NEVER\* will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/Encoding/MaskSelector.php

		-
			message: '#^Strict comparison using \=\=\= between 0 and int\<1, max\> will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/Encoding/MaskSelector.php


		-
			message: '#^Comparison operation "\>\=" between 0 and \*NEVER\* results in an error\.$#'
			identifier: greaterOrEqual.invalid
			count: 6
			path: src/FastEncoder.php

		-
			message: '#^Comparison operation "\>\=" between 0 and int\<21, 125\> is always false\.$#'
			identifier: greaterOrEqual.alwaysFalse
			count: 2
			path: src/FastEncoder.php

		-
			message: '#^Comparison operation "\>\=" between 0 and int\<84, 500\> is always false\.$#'
			identifier: greaterOrEqual.alwaysFalse
			count: 2
			path: src/FastEncoder.php

		-
			message: '#^Comparison operation "\>\=" between int\<0, max\> and \*NEVER\* results in an error\.$#'
			identifier: greaterOrEqual.invalid
			count: 6
			path: src/FastEncoder.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 10
			path: src/FastEncoder.php

		-
			message: '#^Strict comparison using \=\=\= between 0 and \*NEVER\* will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 3
			path: src/FastEncoder.php

		-
			message: '#^Strict comparison using \=\=\= between 0 and int\<1, max\> will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 3
			path: src/FastEncoder.php

		-
			message: '#^Access to an undefined property FFI\\CData\:\:\$modules\.$#'
			identifier: property.notFound
			count: 2
			path: src/FfiEncoder.php

		-
			message: '#^Access to an undefined property FFI\\CData\:\:\$size\.$#'
			identifier: property.notFound
			count: 1
			path: src/FfiEncoder.php

		-
			message: '#^Access to an undefined property FFI\\CData\:\:\$version\.$#'
			identifier: property.notFound
			count: 1
			path: src/FfiEncoder.php

		-
			message: '#^Call to an undefined method FFI\:\:scanme_qr_encode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/FfiEncoder.php

		-
			message: '#^Call to an undefined method FFI\:\:scanme_qr_result_free\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/FfiEncoder.php

		-
			message: '#^Call to an undefined method FFI\:\:scanme_qr_version\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/FfiEncoder.php

		-
			message: '#^Class CrazyGoat\\ScanMePHP\\FfiEncoder constructor invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/NativeEncoder.php

		-
			message: '#^CrazyGoat\\ScanMePHP\\NativeEncoder\:\:encode\(\) calls parent\:\:encodeMatrix\(\) but CrazyGoat\\ScanMePHP\\NativeEncoder does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: src/NativeEncoder.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsBool\(\) with bool will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/BuilderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsBool\(\) with bool will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/FfiEncoderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/FfiEncoderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Integration/BinaryDownloadIntegrationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/PlatformDetectorTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsInt\(\) with int will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/QRCodeTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 12
			path: tests/QRCodeTest.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: tests/QrReferenceTest.php
